@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");

body {
  background: #474040;
  color: #de2f2f;
  font-family: "Nunito";
  width: 90%;
  margin: 0 auto;
}
a {
  color: #de2f2f;
  text-decoration: none;
}
.content {
  max-width: 960px;
  margin: 0 auto;
}
nav {
  margin: 10px auto;
  padding: 20px 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 1px solid #ddd;
}
nav a {
  margin-left: 12px;
}
nav .logo {
  margin-right: auto;
}
footer {
  display: block;
  text-align: center;
  padding: 30px 0;
  margin-top: 60px;
  color: #777;
  border-top: 1px solid #eaeaea;
}

.movie_image img {
  max-width: 100%;
  max-height: 20rem;
}

.btn-danger {
  background-color: #de2f2f;
  border: #de2f2f;
}
